# Proxmox connection settings
# Copy this file to credentials.pkrvars.hcl and fill in your values

proxmox_host         = "192.168.2.198:8006"  # Proxmox IP:Port
proxmox_user         = "root@pam"            # or packer@pve!packer-token
proxmox_password     = "your-password"       # leave empty if using token
proxmox_token        = ""                    # API token (optional)
proxmox_insecure_tls = true                  # skip TLS verification
node                 = "pve"                 # Proxmox node name
